h1.mainPageHeader{
  size: 40px;
  color: blue;
  font-family:monospace;
}
img{
  width: 700px;
  height: 500px;
  position: sticky;
  border-style: outset;
  background-color: black;
  border-color: black;
}
#blurb{
  font-stretch: expanded;
  text-align:left;
  font-size: 25px;
  font-weight: bold;
  color: black;
  font-family:monospace;
  border-color: black;
}
